openapi: 3.0.0
info:
  title: Dropbox API Reference
  description: >+
    If you want more information on how to use our API please refer to our
    [Developer Portal](https://www.dropbox.com/developers). 
  version: 1.0.0
servers:
  - url: https://api.dropbox.com  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: account
  - name: auth
  - name: check
  - name: contacts
  - name: file_properties
    description: >
      This namespace contains helpers for property and template metadata
      endpoints.


      These endpoints enable you to tag arbitrary key/value data to Dropbox
      files.


      The most basic unit in this namespace is the :type:`PropertyField`. These
      fields encapsulate the actual key/value data.


      Fields are added to a Dropbox file using a :type:`PropertyGroup`. Property
      groups contain a reference to a Dropbox file and a
      :type:`PropertyGroupTemplate`. Property groups are uniquely identified by
      the combination of their associated Dropbox file and template.


      The :type:`PropertyGroupTemplate` is a way of restricting the possible key
      names and value types of the data within a property group. The possible
      key names and value types are explicitly enumerated using
      :type:`PropertyFieldTemplate` objects.


      You can think of a property group template as a class definition for a
      particular key/value metadata object, and the property groups themselves
      as the instantiations of these objects.


      Templates are owned either by a user/app pair or team/app pair. Templates
      and their associated properties can't be accessed by any app other than
      the app that created them, and even then, only when the app is linked with
      the owner of the template (either a user or team).


      User-owned templates are accessed via the user-auth
      file_properties/templates/*_for_user endpoints, while team-owned templates
      are accessed via the team-auth file_properties/templates/*_for_team
      endpoints. Properties associated with either type of template can be
      accessed via the user-auth properties/* endpoints.


      Finally, properties can be accessed from a number of endpoints that return
      metadata, including `files/get_metadata`, and `files/list_folder`.
      Properties can also be added during upload, using `files/upload`.
  - name: file_requests
    description: >
      This namespace contains endpoints and data types for file request
      operations.
  - name: files
    description: >
      This namespace contains endpoints and data types for basic file
      operations.
  - name: sharing
    description: >
      This namespace contains endpoints and data types for creating and managing
      shared links and shared folders.
  - name: users
    description: |
      This namespace contains endpoints and data types for user management.
paths:
  /2/account/set_profile_photo:
    post:
      tags:
        - account
      summary: set_profile_photo
      operationId: set_profile_photo
      description: >-
        [set_profile_photo](https://www.dropbox.com/developers/documentation/http/documentation#account-set_profile_photo)


        scope: `account_info.write`


        Sets a user's profile photo.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"photo\": {\n        \".tag\": \"base64_data\",
                \n        \"base64_data\":
                \"SW1hZ2UgZGF0YSBpbiBiYXNlNjQtZW5jb2RlZCBieXRlcy4gTm90IGEgdmFsaWQgZXhhbXBsZS4=\"\n   
                }\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                profile_photo_url: >-
                  https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAHWGmIXV3sUuOmBfTz0wPsiqHUpBWvv3ZA?vers=1556069330102&size=128x128
  /2/auth/token/from_oauth1:
    post:
      tags:
        - auth
      summary: token/from_oauth1
      operationId: token_from_oauth1
      description: >-
        [token/from_oauth1](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-from_oauth1)


        scope: `None`


        Creates an OAuth 2.0 access token from the supplied OAuth 1.0 access
        token.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"oauth1_token\": \"qievr8hamyg6ndck\", \n   
                \"oauth1_token_secret\": \"qomoftv0472git7\"\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                oauth2_token: >-
                  9mCrkS7BIdAAAAAAAAAAHHS0TsSnpYvKQVtKdBnN5IuzhYOGblSgTcHgBFKFMmFn
  /2/auth/token/revoke:
    post:
      tags:
        - auth
      summary: token/revoke
      operationId: token_revoke
      description: >-
        [token/revoke](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-revoke)


        scope: `None`


        Disables the access token used to authenticate the call.      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/check/app:
    post:
      tags:
        - check
      summary: app
      operationId: app
      description: >-
        [app](https://www.dropbox.com/developers/documentation/http/documentation#check-app)


        scope: `None`


        This endpoint performs App Authentication, validating the supplied app
        key and secret, and returns the supplied string, to allow you to test
        your code and connection to the Dropbox API. It has no other effect. If
        you receive an HTTP 200 response with the supplied query, it indicates
        at least part of the Dropbox API infrastructure is working and that the
        app key and secret valid.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"query\": \"foo\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                result: foo
  /2/check/user:
    post:
      tags:
        - check
      summary: user
      operationId: user
      description: >-
        [user](https://www.dropbox.com/developers/documentation/http/documentation#check-user)


        scope: `None`


        This endpoint performs User Authentication, validating the supplied
        access token, and returns the supplied string, to allow you to test your
        code and connection to the Dropbox API. It has no other effect. If you
        receive an HTTP 200 response with the supplied query, it indicates at
        least part of the Dropbox API infrastructure is working and that the
        access token is valid.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"query\": \"foo\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                result: foo
  /2/contacts/delete_manual_contacts:
    post:
      tags:
        - contacts
      summary: delete_manual_contacts
      operationId: delete_manual_contacts
      description: >-
        [delete_manual_contacts](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts)


        scope: `contacts.write`


        Removes all manually added contacts. You'll still keep contacts who are
        on your team or who you imported. New contacts will be added when you
        share.      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/contacts/delete_manual_contacts_batch:
    post:
      tags:
        - contacts
      summary: delete_manual_contacts_batch
      operationId: delete_manual_contacts_batch
      description: >-
        [delete_manual_contacts_batch](https://www.dropbox.com/developers/documentation/http/documentation#contacts-delete_manual_contacts_batch)


        scope: `contacts.write`


        Removes manually added contacts from the given list.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"email_addresses\": [\n       
                \"contactemailaddress1@domain.com\", \n       
                \"contactemailaddress2@domain.com\"\n    ]\n}"
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/properties/add:
    post:
      tags:
        - file_properties
      summary: properties/add
      operationId: add
      description: >-
        [properties/add](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-add)


        scope: `files.metadata.write`


        Add property groups to a Dropbox file. See `templates/add_for_user` or
        `templates/add_for_team` to create new templates.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"path\": \"/my_awesome/word.docx\", \n   
                \"property_groups\": [\n        {\n            \"template_id\":
                \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\", \n            \"fields\":
                [\n                {\n                    \"name\": \"Security
                Policy\", \n                    \"value\":
                \"Confidential\"\n                }\n            ]\n       
                }\n    ]\n}"
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/properties/overwrite:
    post:
      tags:
        - file_properties
      summary: properties/overwrite
      operationId: overwrite
      description: >-
        [properties/overwrite](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-overwrite)


        scope: `files.metadata.write`


        Overwrite property groups associated with a file. This endpoint should
        be used instead of `properties/update` when property groups are being
        updated via a "snapshot" instead of via a "delta". In other words, this
        endpoint will delete all omitted fields from a property group, whereas
        `properties/update` will only delete fields that are explicitly marked
        for deletion.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"path\": \"/my_awesome/word.docx\", \n   
                \"property_groups\": [\n        {\n            \"template_id\":
                \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\", \n            \"fields\":
                [\n                {\n                    \"name\": \"Security
                Policy\", \n                    \"value\":
                \"Confidential\"\n                }\n            ]\n       
                }\n    ]\n}"
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/properties/remove:
    post:
      tags:
        - file_properties
      summary: properties/remove
      operationId: properties_remove
      description: >-
        [properties/remove](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-remove)


        scope: `files.metadata.write`


        Permanently removes the specified property group from the file. To
        remove specific property field key value pairs, see `properties/update`.
        To update a template, see `templates/update_for_user` or
        `templates/update_for_team`. To remove a template, see
        `templates/remove_for_user` or `templates/remove_for_team`.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"path\": \"/my_awesome/word.docx\", \n   
                \"property_template_ids\": [\n       
                \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\"\n    ]\n}"
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/properties/search:
    post:
      tags:
        - file_properties
      summary: properties/search
      operationId: properties_search
      description: >-
        [properties/search](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search)


        scope: `files.metadata.read`


        Search across property templates for particular property field values.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"queries\": [\n        {\n            \"query\":
                \"Compliance Bot - Beta\", \n            \"mode\":
                {\n                \".tag\": \"field_name\", \n               
                \"field_name\": \"Security\"\n            }, \n           
                \"logical_operator\": \"or_operator\"\n        }\n    ], \n   
                \"template_filter\": \"filter_none\"\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: ' Bearer IU571Pc9cGAAAAAAAAAAAQh57r-VTd7qBjZBUsVHLR6NRVTcd0FOThotVQmF9q9F'
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                matches:
                  - id: id:a4ayc_80_OEAAAAAAAAAXz
                    path: /my_awesome/word.docx
                    is_deleted: false
                    property_groups:
                      - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        fields:
                          - name: Security Policy
                            value: Confidential
  /2/file_properties/properties/search/continue:
    post:
      tags:
        - file_properties
      summary: properties/search/continue
      operationId: properties_search_continue
      description: >-
        [properties/search/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-search-continue)


        scope: `files.metadata.read`


        Once a cursor has been retrieved from `properties/search`, use this to
        paginate through all search results.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"cursor\":
                \"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\"\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                matches:
                  - id: id:a4ayc_80_OEAAAAAAAAAXz
                    path: /my_awesome/word.docx
                    is_deleted: false
                    property_groups:
                      - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                        fields:
                          - name: Security Policy
                            value: Confidential
  /2/file_properties/properties/update:
    post:
      tags:
        - file_properties
      summary: properties/update
      operationId: properties_update
      description: >-
        [properties/update](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-properties-update)


        scope: `files.metadata.write`


        Add, update or remove properties associated with the supplied file and
        templates. This endpoint should be used instead of
        `properties/overwrite` when property groups are being updated via a
        "delta" instead of via a "snapshot" . In other words, this endpoint will
        not delete any omitted fields from a property group, whereas
        `properties/overwrite` will delete any fields that are omitted from a
        property group.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"path\": \"/my_awesome/word.docx\", \n   
                \"update_property_groups\": [\n        {\n           
                \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\", \n           
                \"add_or_update_fields\": [\n               
                {\n                    \"name\": \"Security Policy\",
                \n                    \"value\":
                \"Confidential\"\n                }\n            ],
                \n            \"remove_fields\": []\n        }\n    ]\n}"
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/templates/add_for_team:
    post:
      tags:
        - file_properties
      summary: templates/add_for_team
      operationId: templates_add_for_team
      description: >-
        [templates/add_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-add_for_team)


        scope: `files.team_metadata.write`


        Add a template associated with a team. See `properties/add` to add
        properties to a file or folder.

        Note: this endpoint will create team-owned templates.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"name\": \"Security\", \n    \"description\": \"These
                properties describe how confidential this file or folder is.\",
                \n    \"fields\": [\n        {\n            \"name\": \"Security
                Policy\", \n            \"description\": \"This is the security
                policy of the file or folder described.\\nPolicies can be
                Confidential, Public or Internal.\", \n            \"type\":
                \"string\"\n        }\n    ]\n}"
      security:
        - bearerAuth: []
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /2/file_properties/templates/add_for_user:
    post:
      tags:
        - file_properties
      summary: templates/add_for_user
      operationId: templates_add_for_user
      description: >-
        [templates/add_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-add_for_user)


        scope: `files.metadata.write`


        Add a template associated with a user. See `properties/add` to add
        properties to a file. This endpoint can't be called on a team member or
        admin's behalf.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"name\": \"Security\", \n    \"description\": \"These
                properties describe how confidential this file or folder is.\",
                \n    \"fields\": [\n        {\n            \"name\": \"Security
                Policy\", \n            \"description\": \"This is the security
                policy of the file or folder described.\\nPolicies can be
                Confidential, Public or Internal.\", \n            \"type\":
                \"string\"\n        }\n    ]\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /2/file_properties/templates/get_for_team:
    post:
      tags:
        - file_properties
      summary: templates/get_for_team
      operationId: templates_get_for_team
      description: >-
        [templates/get_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-get_for_team)


        scope: `files.team_metadata.write`


        Get the schema for a specified template.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\"\n}"'
      security:
        - bearerAuth: []
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                name: Security
                description: >-
                  These properties describe how confidential this file or folder
                  is.
                fields:
                  - name: Security Policy
                    description: >-
                      This is the security policy of the file or folder
                      described.

                      Policies can be Confidential, Public or Internal.
                    type:
                      .tag: string
  /2/file_properties/templates/get_for_user:
    post:
      tags:
        - file_properties
      summary: templates/get_for_user
      operationId: templates_get_for_user
      description: >-
        [templates/get_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-get_for_user)


        scope: `files.metadata.read`


        Get the schema for a specified template. This endpoint can't be called
        on a team member or admin's behalf.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                name: Security
                description: >-
                  These properties describe how confidential this file or folder
                  is.
                fields:
                  - name: Security Policy
                    description: >-
                      This is the security policy of the file or folder
                      described.

                      Policies can be Confidential, Public or Internal.
                    type:
                      .tag: string
  /2/file_properties/templates/list_for_team:
    post:
      tags:
        - file_properties
      summary: templates/list_for_team
      operationId: templates_list_for_team
      description: >-
        [templates/list_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-list_for_team)


        scope: `files.team_metadata.write`


        Get the template identifiers for a team. To get the schema of each
        template use `templates/get_for_team`.      
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                template_ids:
                  - ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /2/file_properties/templates/list_for_user:
    post:
      tags:
        - file_properties
      summary: templates/list_for_user
      operationId: templates_list_for_user
      description: >-
        [templates/list_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-list_for_user)


        scope: `files.metadata.read`


        Get the template identifiers for a team. To get the schema of each
        template use `templates/get_for_user`. This endpoint can't be called on
        a team member or admin's behalf.      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                template_ids:
                  - ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /2/file_properties/templates/remove_for_team:
    post:
      tags:
        - file_properties
      summary: templates/remove_for_team
      operationId: templates_remove_for_team
      description: >-
        [templates/remove_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-remove_for_team)


        scope: `files.team_metadata.write`


        Permanently removes the specified template created from
        `templates/add_for_user`. All properties associated with the template
        will also be removed. This action cannot be undone.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\"\n}"'
      security:
        - bearerAuth: []
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/templates/remove_for_user:
    post:
      tags:
        - file_properties
      summary: templates/remove_for_user
      operationId: templates_remove_for_user
      description: >-
        [templates/remove_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-remove_for_user)


        scope: `files.metadata.write`


        Permanently removes the specified template created from
        `templates/add_for_user`. All properties associated with the template
        will also be removed. This action cannot be undone.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\"\n}"'
      
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /2/file_properties/templates/update_for_team:
    post:
      tags:
        - file_properties
      summary: templates/update_for_team
      operationId: templates_update_for_team
      description: >-
        [templates/update_for_team](https://www.dropbox.com/developers/documentation/http/teams#file_properties-templates-update_for_team)


        scope: `files.team_metadata.write`


        Update a template associated with a team. This route can update the
        template name, the template description and add optional properties to
        templates.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\", \n   
                \"name\": \"New Security Template Name\", \n    \"description\":
                \"These properties will describe how confidential this file or
                folder is.\", \n    \"add_fields\": [\n        {\n           
                \"name\": \"Security Policy\", \n            \"description\":
                \"This is the security policy of the file or folder
                described.\\nPolicies can be Confidential, Public or
                Internal.\", \n            \"type\": \"string\"\n        }\n   
                ]\n}"
      security:
        - bearerAuth: []
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /2/file_properties/templates/update_for_user:
    post:
      tags:
        - file_properties
      summary: templates/update_for_user
      operationId: templates_update_for_user
      description: >-
        [templates/update_for_user](https://www.dropbox.com/developers/documentation/http/documentation#file_properties-templates-update_for_user)


        scope: `files.metadata.write`


        Update a template associated with a user. This route can update the
        template name, the template description and add optional properties to
        templates. This endpoint can't be called on a team member or admin's
        behalf.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"template_id\": \"ptid:1a5n2i6d3OYEAAAAAAAAAYa\", \n   
                \"name\": \"New Security Template Name\", \n    \"description\":
                \"These properties will describe how confidential this file or
                folder is.\", \n    \"add_fields\": [\n        {\n           
                \"name\": \"Security Policy\", \n            \"description\":
                \"This is the security policy of the file or folder
                described.\\nPolicies can be Confidential, Public or
                Internal.\", \n            \"type\": \"string\"\n        }\n   
                ]\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
  /2/file_requests/count:
    post:
      tags:
        - file_requests
      summary: count
      operationId: count
      description: >-
        [count](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-count)


        scope: `file_requests.read`


        Returns the total number of file requests owned by this user. Includes
        both open and closed file requests.      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_request_count: 15
  /2/file_requests/create:
    post:
      tags:
        - file_requests
      summary: create
      operationId: create
      description: >-
        [create](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-create)


        scope: `file_requests.write`


        Creates a file request for this user.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"title\": \"Homework submission\", \n   
                \"destination\": \"/File Requests/Homework\", \n   
                \"deadline\": {\n        \"deadline\": \"2020-10-12T17:00:00Z\",
                \n        \"allow_late_uploads\": \"seven_days\"\n    }, \n   
                \"open\": true\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: oaCAVmEyrqYnkZX9955Y
                url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                title: Homework submission
                created: '2015-10-05T17:00:00Z'
                is_open: true
                file_count: 3
                destination: /File Requests/Homework
                deadline:
                  deadline: '2020-10-12T17:00:00Z'
                  allow_late_uploads:
                    .tag: seven_days
  /2/file_requests/delete:
    post:
      tags:
        - file_requests
      summary: delete
      operationId: file_requests_delete
      description: >-
        [delete](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete)


        scope: `file_requests.write`


        Delete a batch of closed file requests.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"ids\": [\n        \"oaCAVmEyrqYnkZX9955Y\", \n       
                \"BaZmehYoXMPtaRmfTbSG\"\n    ]\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                  - id: oaCAVmEyrqYnkZX9955Y
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    title: Homework submission
                    created: '2015-10-05T17:00:00Z'
                    is_open: true
                    file_count: 3
                    destination: /File Requests/Homework
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                      allow_late_uploads:
                        .tag: seven_days
                  - id: BAJ7IrRGicQKGToykQdB
                    url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    title: Photo contest submission
                    created: '2015-11-02T04:00:00Z'
                    is_open: true
                    file_count: 105
                    destination: /Photo contest entries
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                  - id: rxwMPvK3ATTa0VxOJu5T
                    url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                    title: Wedding photo submission
                    created: '2015-12-15T13:02:00Z'
                    is_open: true
                    file_count: 37
                    destination: /Wedding photos
  /2/file_requests/delete_all_closed:
    post:
      tags:
        - file_requests
      summary: delete_all_closed
      operationId: delete_all_closed
      description: >-
        [delete_all_closed](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-delete_all_closed)


        scope: `file_requests.write`


        Delete all closed file requests owned by this user.      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                  - id: oaCAVmEyrqYnkZX9955Y
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    title: Homework submission
                    created: '2015-10-05T17:00:00Z'
                    is_open: true
                    file_count: 3
                    destination: /File Requests/Homework
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                      allow_late_uploads:
                        .tag: seven_days
                  - id: BAJ7IrRGicQKGToykQdB
                    url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    title: Photo contest submission
                    created: '2015-11-02T04:00:00Z'
                    is_open: true
                    file_count: 105
                    destination: /Photo contest entries
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                  - id: rxwMPvK3ATTa0VxOJu5T
                    url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                    title: Wedding photo submission
                    created: '2015-12-15T13:02:00Z'
                    is_open: true
                    file_count: 37
                    destination: /Wedding photos
  /2/file_requests/get:
    post:
      tags:
        - file_requests
      summary: get
      operationId: get
      description: >-
        [get](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-get)


        scope: `file_requests.read`


        Returns the specified file request.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"id\": \"oaCAVmEyrqYnkZX9955Y\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: oaCAVmEyrqYnkZX9955Y
                url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                title: Homework submission
                created: '2015-10-05T17:00:00Z'
                is_open: true
                file_count: 3
                destination: /File Requests/Homework
                deadline:
                  deadline: '2020-10-12T17:00:00Z'
                  allow_late_uploads:
                    .tag: seven_days
  /2/file_requests/list_v2:
    post:
      tags:
        - file_requests
      summary: list
      operationId: list
      description: >-
        [list](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-list)


        scope: `file_requests.read`


        Returns a list of file requests owned by this user. For apps with the
        app folder permission, this will only return file requests with
        destinations in the app folder.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"limit\": 1000\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                  - id: oaCAVmEyrqYnkZX9955Y
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    title: Homework submission
                    created: '2015-10-05T17:00:00Z'
                    is_open: true
                    file_count: 3
                    destination: /File Requests/Homework
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                      allow_late_uploads:
                        .tag: seven_days
                  - id: BAJ7IrRGicQKGToykQdB
                    url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    title: Photo contest submission
                    created: '2015-11-02T04:00:00Z'
                    is_open: true
                    file_count: 105
                    destination: /Photo contest entries
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                  - id: rxwMPvK3ATTa0VxOJu5T
                    url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                    title: Wedding photo submission
                    created: '2015-12-15T13:02:00Z'
                    is_open: true
                    file_count: 37
                    destination: /Wedding photos
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: true
  /2/file_requests/list/continue:
    post:
      tags:
        - file_requests
      summary: list/continue
      operationId: list_continue
      description: >-
        [list/continue](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-list-continue)


        scope: `file_requests.read`


        Once a cursor has been retrieved from `list:2`, use this to paginate
        through all file requests. The cursor must come from a previous call to
        `list:2` or `list/continue`.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"cursor\":
                \"ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu\"\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_requests:
                  - id: oaCAVmEyrqYnkZX9955Y
                    url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                    title: Homework submission
                    created: '2015-10-05T17:00:00Z'
                    is_open: true
                    file_count: 3
                    destination: /File Requests/Homework
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                      allow_late_uploads:
                        .tag: seven_days
                  - id: BAJ7IrRGicQKGToykQdB
                    url: https://www.dropbox.com/request/BAJ7IrRGjcQKGToykQdB
                    title: Photo contest submission
                    created: '2015-11-02T04:00:00Z'
                    is_open: true
                    file_count: 105
                    destination: /Photo contest entries
                    deadline:
                      deadline: '2020-10-12T17:00:00Z'
                  - id: rxwMPvK3ATTa0VxOJu5T
                    url: https://www.dropbox.com/request/rxwMPvK3ATTa0VxOJu5T
                    title: Wedding photo submission
                    created: '2015-12-15T13:02:00Z'
                    is_open: true
                    file_count: 37
                    destination: /Wedding photos
                cursor: ZtkX9_EHj3x7PMkVuFIhwKYXEpwpLwyxp9vMKomUhllil9q7eWiAu
                has_more: true
  /2/file_requests/update:
    post:
      tags:
        - file_requests
      summary: update
      operationId: update
      description: >-
        [update](https://www.dropbox.com/developers/documentation/http/documentation#file_requests-update)


        scope: `file_requests.write`


        Update a file request.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"id\": \"oaCAVmEyrqYnkZX9955Y\", \n    \"title\":
                \"Homework submission\", \n    \"destination\": \"/File
                Requests/Homework\", \n    \"deadline\": {\n        \".tag\":
                \"update\", \n        \"deadline\": \"2020-10-12T17:00:00Z\",
                \n        \"allow_late_uploads\": \"seven_days\"\n    }, \n   
                \"open\": true\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: oaCAVmEyrqYnkZX9955Y
                url: https://www.dropbox.com/request/oaCAVmEyrqYnkZX9955Y
                title: Homework submission
                created: '2015-10-05T17:00:00Z'
                is_open: true
                file_count: 3
                destination: /File Requests/Homework
                deadline:
                  deadline: '2020-10-12T17:00:00Z'
                  allow_late_uploads:
                    .tag: seven_days
  /2/files/copy_v2:
    post:
      tags:
        - files
      summary: copy
      operationId: copy
      description: >-
        [copy](https://www.dropbox.com/developers/documentation/http/documentation#files-copy)


        scope: `files.content.write`


        Copy a file or folder to a different location in the user's Dropbox.

        If the source path is a folder all its contents will be copied.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"from_path\": \"/Homework/math\", \n    \"to_path\":
                \"/Homework/algebra\", \n    \"allow_shared_folder\": false,
                \n    \"autorename\": false, \n    \"allow_ownership_transfer\":
                false\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  .tag: file
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
  /2/files/copy_batch_v2:
    post:
      tags:
        - files
      summary: copy_batch
      operationId: copy_batch
      description: >-
        [copy_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_batch)


        scope: `files.content.write`


        Copy multiple files or folders to different locations at once in the
        user's Dropbox.

        This route will replace `copy_batch:1`. The main difference is this
        route will return status for each entry, while `copy_batch:1` raises
        failure if any entry fails.

        This route will either finish synchronously, or return a job ID and do
        the async copy job in background. Please use `copy_batch/check:2` to
        check the job status.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"entries\": [\n        {\n            \"from_path\":
                \"/Homework/math\", \n            \"to_path\":
                \"/Homework/algebra\"\n        }\n    ], \n    \"autorename\":
                false\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: complete
                entries:
                  - .tag: success
                    success:
                      .tag: file
                      name: Prime_Numbers.txt
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      client_modified: '2015-05-12T15:50:38Z'
                      server_modified: '2015-05-12T15:50:38Z'
                      rev: a1c10ce0dd78
                      size: 7212
                      path_lower: /homework/math/prime_numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      sharing_info:
                        read_only: true
                        parent_shared_folder_id: '84528192421'
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                      is_downloadable: true
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
                      has_explicit_shared_members: false
                      content_hash: >-
                        e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        is_lockholder: true
                        lockholder_name: Imaginary User
                        created: '2015-05-12T15:50:38Z'
  /2/files/copy_batch/check_v2:
    post:
      tags:
        - files
      summary: copy_batch/check
      operationId: copy_batch_check
      description: >-
        [copy_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_batch-check)


        scope: `files.content.write`


        Returns the status of an asynchronous job for `copy_batch:2`. It returns
        list of results for each entry.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"async_job_id\": \"34g93hh34h04y384084\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: complete
                entries:
                  - .tag: success
                    success:
                      .tag: file
                      name: Prime_Numbers.txt
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      client_modified: '2015-05-12T15:50:38Z'
                      server_modified: '2015-05-12T15:50:38Z'
                      rev: a1c10ce0dd78
                      size: 7212
                      path_lower: /homework/math/prime_numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      sharing_info:
                        read_only: true
                        parent_shared_folder_id: '84528192421'
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                      is_downloadable: true
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
                      has_explicit_shared_members: false
                      content_hash: >-
                        e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        is_lockholder: true
                        lockholder_name: Imaginary User
                        created: '2015-05-12T15:50:38Z'
  /2/files/copy_reference/get:
    post:
      tags:
        - files
      summary: copy_reference/get
      operationId: copy_reference_get
      description: >-
        [copy_reference/get](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_reference-get)


        scope: `files.content.write`


        Get a copy reference to a file or folder. This reference string can be
        used to save that file or folder to another user's Dropbox by passing it
        to `copy_reference/save`.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"path\": \"/video.mp4\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  .tag: file
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
                copy_reference: z1X6ATl6aWtzOGq0c3g5Ng
                expires: '2045-05-12T15:50:38Z'
  /2/files/copy_reference/save:
    post:
      tags:
        - files
      summary: copy_reference/save
      operationId: copy_reference_save
      description: >-
        [copy_reference/save](https://www.dropbox.com/developers/documentation/http/documentation#files-copy_reference-save)


        scope: `files.content.write`


        Save a copy reference returned by `copy_reference/get` to the user's
        Dropbox.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"copy_reference\": \"z1X6ATl6aWtzOGq0c3g5Ng\", \n   
                \"path\": \"/video.mp4\"\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  .tag: file
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
  /2/files/create_folder_v2:
    post:
      tags:
        - files
      summary: create_folder
      operationId: create_folder
      description: >-
        [create_folder](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder)


        scope: `files.content.write`


        Create a folder at a given path.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"path\": \"/Homework/math\", \n    \"autorename\":
                false\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  name: math
                  id: id:a4ayc_80_OEAAAAAAAAAXz
                  path_lower: /homework/math
                  path_display: /Homework/math
                  sharing_info:
                    read_only: false
                    parent_shared_folder_id: '84528192421'
                    traverse_only: false
                    no_access: false
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
  /2/files/create_folder_batch:
    post:
      tags:
        - files
      summary: create_folder_batch
      operationId: create_folder_batch
      description: >-
        [create_folder_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder_batch)


        scope: `files.content.write`


        Create multiple folders at once.

        This route is asynchronous for large batches, which returns a job ID
        immediately and runs the create folder batch asynchronously. Otherwise,
        creates the folders and returns the result synchronously for smaller
        inputs. You can force asynchronous behaviour by using the
        `CreateFolderBatchArg.force_async` flag.  Use
        `create_folder_batch/check` to check the job status.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"paths\": [\n        \"/Homework/math\"\n    ], \n   
                \"autorename\": false, \n    \"force_async\": false\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: complete
                entries:
                  - .tag: success
                    metadata:
                      name: math
                      id: id:a4ayc_80_OEAAAAAAAAAXz
                      path_lower: /homework/math
                      path_display: /Homework/math
                      sharing_info:
                        read_only: false
                        parent_shared_folder_id: '84528192421'
                        traverse_only: false
                        no_access: false
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
  /2/files/create_folder_batch/check:
    post:
      tags:
        - files
      summary: create_folder_batch/check
      operationId: create_folder_batch_check
      description: >-
        [create_folder_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-create_folder_batch-check)


        scope: `files.content.write`


        Returns the status of an asynchronous job for `create_folder_batch`. If
        success, it returns list of result for each entry.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"async_job_id\": \"34g93hh34h04y384084\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: complete
                entries:
                  - .tag: success
                    metadata:
                      name: math
                      id: id:a4ayc_80_OEAAAAAAAAAXz
                      path_lower: /homework/math
                      path_display: /Homework/math
                      sharing_info:
                        read_only: false
                        parent_shared_folder_id: '84528192421'
                        traverse_only: false
                        no_access: false
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
  /2/files/delete_v2:
    post:
      tags:
        - files
      summary: delete
      operationId: delete
      description: >-
        [delete](https://www.dropbox.com/developers/documentation/http/documentation#files-delete)


        scope: `files.content.write`


        Delete the file or folder at a given path.

        If the path is a folder, all its contents will be deleted too.

        A successful response indicates that the file or folder was deleted. The
        returned metadata will be the corresponding `FileMetadata` or
        `FolderMetadata` for the item at time of deletion, and not a
        `DeletedMetadata` object.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"path\": \"/Homework/math/Prime_Numbers.txt\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  .tag: file
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
  /2/files/delete_batch:
    post:
      tags:
        - files
      summary: delete_batch
      operationId: delete_batch
      description: >-
        [delete_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-delete_batch)


        scope: `files.content.write`


        Delete multiple files/folders at once.

        This route is asynchronous, which returns a job ID immediately and runs
        the delete batch asynchronously. Use `delete_batch/check` to check the
        job status.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"entries\": [\n        {\n            \"path\":
                \"/Homework/math/Prime_Numbers.txt\"\n        }\n    ]\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: complete
                entries:
                  - .tag: success
                    metadata:
                      .tag: file
                      name: Prime_Numbers.txt
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      client_modified: '2015-05-12T15:50:38Z'
                      server_modified: '2015-05-12T15:50:38Z'
                      rev: a1c10ce0dd78
                      size: 7212
                      path_lower: /homework/math/prime_numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      sharing_info:
                        read_only: true
                        parent_shared_folder_id: '84528192421'
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                      is_downloadable: true
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
                      has_explicit_shared_members: false
                      content_hash: >-
                        e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        is_lockholder: true
                        lockholder_name: Imaginary User
                        created: '2015-05-12T15:50:38Z'
  /2/files/delete_batch/check:
    post:
      tags:
        - files
      summary: delete_batch/check
      operationId: delete_batch_check
      description: >-
        [delete_batch/check](https://www.dropbox.com/developers/documentation/http/documentation#files-delete_batch-check)


        scope: `files.content.write`


        Returns the status of an asynchronous job for `delete_batch`. If
        success, it returns list of result for each entry.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"async_job_id\": \"34g93hh34h04y384084\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: complete
                entries:
                  - .tag: success
                    metadata:
                      .tag: file
                      name: Prime_Numbers.txt
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      client_modified: '2015-05-12T15:50:38Z'
                      server_modified: '2015-05-12T15:50:38Z'
                      rev: a1c10ce0dd78
                      size: 7212
                      path_lower: /homework/math/prime_numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      sharing_info:
                        read_only: true
                        parent_shared_folder_id: '84528192421'
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                      is_downloadable: true
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
                      has_explicit_shared_members: false
                      content_hash: >-
                        e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        is_lockholder: true
                        lockholder_name: Imaginary User
                        created: '2015-05-12T15:50:38Z'
  /2/files/download:
    post:
      tags:
        - files
      summary: download
      operationId: download
      description: >-
        [download](https://www.dropbox.com/developers/documentation/http/documentation#files-download)


        scope: `files.content.read`


        Download a file from a user's Dropbox.      
      parameters:
        - name: Dropbox-API-Arg
          in: header
          schema:
            type: string
          example: |-
            {
                "path": "/Homework/math/Prime_Numbers.txt"
            }
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                name: Prime_Numbers.txt
                id: id:a4ayc_80_OEAAAAAAAAAXw
                client_modified: '2015-05-12T15:50:38Z'
                server_modified: '2015-05-12T15:50:38Z'
                rev: a1c10ce0dd78
                size: 7212
                path_lower: /homework/math/prime_numbers.txt
                path_display: /Homework/math/Prime_Numbers.txt
                sharing_info:
                  read_only: true
                  parent_shared_folder_id: '84528192421'
                  modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                is_downloadable: true
                property_groups:
                  - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                    fields:
                      - name: Security Policy
                        value: Confidential
                has_explicit_shared_members: false
                content_hash: >-
                  e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                file_lock_info:
                  is_lockholder: true
                  lockholder_name: Imaginary User
                  created: '2015-05-12T15:50:38Z'
  /2/files/download_zip:
    post:
      tags:
        - files
      summary: download_zip
      operationId: download_zip
      description: >-
        [download_zip](https://www.dropbox.com/developers/documentation/http/documentation#files-download_zip)


        scope: `files.content.read`


        Download a folder from the user's Dropbox, as a zip file. The folder
        must be less than 20 GB in size and have fewer than 10,000 total files.
        The input cannot be a single file. Any single file must be less than 4GB
        in size.      
      parameters:
        - name: Dropbox-API-Arg
          in: header
          schema:
            type: string
          example: |-
            {
                "path": "/Homework/math"
            }
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  name: math
                  id: id:a4ayc_80_OEAAAAAAAAAXz
                  path_lower: /homework/math
                  path_display: /Homework/math
                  sharing_info:
                    read_only: false
                    parent_shared_folder_id: '84528192421'
                    traverse_only: false
                    no_access: false
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
  /2/files/export:
    post:
      tags:
        - files
      summary: export
      operationId: export
      description: >-
        [export](https://www.dropbox.com/developers/documentation/http/documentation#files-export)


        scope: `files.content.read`


        Export a file from a user's Dropbox. This route only supports exporting
        files that cannot be downloaded directly  and whose
        `ExportResult.file_metadata` has `ExportInfo.export_as` populated.      
      parameters:
        - name: Dropbox-API-Arg
          in: header
          schema:
            type: string
          example: |-
            {
                "path": "/Homework/math/Prime_Numbers.gsheet"
            }
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                export_metadata:
                  name: Prime_Numbers.xlsx
                  size: 7189
                  export_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                file_metadata:
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
  /2/files/get_file_lock_batch:
    post:
      tags:
        - files
      summary: get_file_lock_batch
      operationId: get_file_lock_batch
      description: >-
        [get_file_lock_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-get_file_lock_batch)


        scope: `files.content.read`


        Return the lock metadata for the given list of paths.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"entries\": [\n        {\n            \"path\": \"/John
                Doe/sample/test.pdf\"\n        }\n    ]\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                entries:
                  - .tag: success
                    metadata:
                      .tag: file
                      name: Prime_Numbers.txt
                      id: id:a4ayc_80_OEAAAAAAAAAXw
                      client_modified: '2015-05-12T15:50:38Z'
                      server_modified: '2015-05-12T15:50:38Z'
                      rev: a1c10ce0dd78
                      size: 7212
                      path_lower: /homework/math/prime_numbers.txt
                      path_display: /Homework/math/Prime_Numbers.txt
                      sharing_info:
                        read_only: true
                        parent_shared_folder_id: '84528192421'
                        modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                      is_downloadable: true
                      property_groups:
                        - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                          fields:
                            - name: Security Policy
                              value: Confidential
                      has_explicit_shared_members: false
                      content_hash: >-
                        e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      file_lock_info:
                        is_lockholder: true
                        lockholder_name: Imaginary User
                        created: '2015-05-12T15:50:38Z'
                    lock:
                      content:
                        .tag: single_user
                        created: '2015-05-12T15:50:38Z'
                        lock_holder_account_id: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                        lock_holder_team_id: dbtid:1234abcd
  /2/files/get_metadata:
    post:
      tags:
        - files
      summary: get_metadata
      operationId: get_metadata
      description: >-
        [get_metadata](https://www.dropbox.com/developers/documentation/http/documentation#files-get_metadata)


        scope: `files.metadata.read`


        Returns the metadata for a file or folder.

        Note: Metadata for the root folder is unsupported.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"path\": \"/Homework/math\", \n   
                \"include_media_info\": false, \n    \"include_deleted\": false,
                \n    \"include_has_explicit_shared_members\": false\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                .tag: file
                name: Prime_Numbers.txt
                id: id:a4ayc_80_OEAAAAAAAAAXw
                client_modified: '2015-05-12T15:50:38Z'
                server_modified: '2015-05-12T15:50:38Z'
                rev: a1c10ce0dd78
                size: 7212
                path_lower: /homework/math/prime_numbers.txt
                path_display: /Homework/math/Prime_Numbers.txt
                sharing_info:
                  read_only: true
                  parent_shared_folder_id: '84528192421'
                  modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                is_downloadable: true
                property_groups:
                  - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                    fields:
                      - name: Security Policy
                        value: Confidential
                has_explicit_shared_members: false
                content_hash: >-
                  e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                file_lock_info:
                  is_lockholder: true
                  lockholder_name: Imaginary User
                  created: '2015-05-12T15:50:38Z'
  /2/files/get_preview:
    post:
      tags:
        - files
      summary: get_preview
      operationId: get_preview
      description: >-
        [get_preview](https://www.dropbox.com/developers/documentation/http/documentation#files-get_preview)


        scope: `files.content.read`


        Get a preview for a file.

        Currently, PDF previews are generated for files with the following
        extensions: .ai, .doc, .docm, .docx, .eps, .gdoc, .gslides, .odp, .odt,
        .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx, .rtf.

        HTML previews are generated for files with the following extensions:
        .csv, .ods, .xls, .xlsm, .gsheet, .xlsx.

        Other formats will return an unsupported extension error.      
      parameters:
        - name: Dropbox-API-Arg
          in: header
          schema:
            type: string
          example: |-
            {
                "path": "/word.docx"
            }
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                name: Prime_Numbers.txt
                id: id:a4ayc_80_OEAAAAAAAAAXw
                client_modified: '2015-05-12T15:50:38Z'
                server_modified: '2015-05-12T15:50:38Z'
                rev: a1c10ce0dd78
                size: 7212
                path_lower: /homework/math/prime_numbers.txt
                path_display: /Homework/math/Prime_Numbers.txt
                sharing_info:
                  read_only: true
                  parent_shared_folder_id: '84528192421'
                  modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                is_downloadable: true
                property_groups:
                  - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                    fields:
                      - name: Security Policy
                        value: Confidential
                has_explicit_shared_members: false
                content_hash: >-
                  e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                file_lock_info:
                  is_lockholder: true
                  lockholder_name: Imaginary User
                  created: '2015-05-12T15:50:38Z'
  /2/files/get_temporary_link:
    post:
      tags:
        - files
      summary: get_temporary_link
      operationId: get_temporary_link
      description: >-
        [get_temporary_link](https://www.dropbox.com/developers/documentation/http/documentation#files-get_temporary_link)


        scope: `files.content.read`


        Get a temporary link to stream content of a file. This link will expire
        in four hours and afterwards you will get 410 Gone. This URL should not
        be used to display content directly in the browser. The Content-Type of
        the link is determined automatically by the file's mime type.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: '"{\n    \"path\": \"/video.mp4\"\n}"'
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
                link: >-
                  https://dl.dropboxusercontent.com/apitl/1/YXNkZmFzZGcyMzQyMzI0NjU2NDU2NDU2
  /2/files/get_temporary_upload_link:
    post:
      tags:
        - files
      summary: get_temporary_upload_link
      operationId: get_temporary_upload_link
      description: >-
        [get_temporary_upload_link](https://www.dropbox.com/developers/documentation/http/documentation#files-get_temporary_upload_link)


        scope: `files.content.write`


        Get a one-time use temporary upload link to upload a file to a Dropbox
        location.


        This endpoint acts as a delayed `upload`. The returned temporary upload
        link may be used to make a POST request with the data to be uploaded.
        The upload will then be perfomed with the `CommitInfo` previously
        provided to `get_temporary_upload_link` but evaluated only upon
        consumption. Hence, errors stemming from invalid `CommitInfo` with
        respect to the state of the user's Dropbox will only be communicated at
        consumption time. Additionally, these errors are surfaced as generic
        HTTP 409 Conflict responses, potentially hiding issue details. The
        maximum temporary upload link duration is 4 hours. Upon consumption or
        expiration, a new link will have to be generated. Multiple links may
        exist for a specific upload path at any given time.


        The POST request on the temporary upload link must have its Content-Type
        set to "application/octet-stream".


        Example temporary upload link consumption request:


        curl -X POST https://content.dropboxapi.com/apitul/1/bNi2uIYF51cVBND

        --header "Content-Type: application/octet-stream"

        --data-binary @local_file.txt


        A successful temporary upload link consumption request returns the
        content hash of the uploaded data in JSON format.


        Example succesful temporary upload link consumption response:

        {"content-hash": "599d71033d700ac892a0e48fa61b125d2f5994"}


        An unsuccessful temporary upload link consumption request returns any of
        the following status codes:


        HTTP 400 Bad Request: Content-Type is not one of
        application/octet-stream and text/plain or request is invalid.

        HTTP 409 Conflict: The temporary upload link does not exist or is
        currently unavailable, the upload failed, or another error happened.

        HTTP 410 Gone: The temporary upload link is expired or consumed.


        Example unsuccessful temporary upload link consumption response:

        Temporary upload link has been recently consumed.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
                "{\n    \"commit_info\": {\n        \"path\":
                \"/Homework/math/Matrices.txt\", \n        \"mode\": \"add\",
                \n        \"autorename\": true, \n        \"mute\": false,
                \n        \"strict_conflict\": false\n    }, \n    \"duration\":
                3600\n}"
      
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                link: https://content.dropboxapi.com/apitul/1/bNi2uIYF51cVBND
  /2/files/get_thumbnail_v2:
    post:
      tags:
        - files
      summary: get_thumbnail
      operationId: get_thumbnail
      description: >-
        [get_thumbnail](https://www.dropbox.com/developers/documentation/http/documentation#files-get_thumbnail)


        scope: `files.content.read`


        Get a thumbnail for a file.
      parameters:
        - name: Dropbox-API-Arg
          in: header
          schema:
            type: string
          example: |-
            {
                "resource": {
                    ".tag": "path", 
                    "path": "/a.docx"
                }, 
                "format": "jpeg", 
                "size": "w64h64", 
                "mode": "strict"
            }
      responses:
        '200':
          description: OK
          headers:
            X-Dropbox-Request-Id:
              schema:
                type: integer
                example: '1234'
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                file_metadata:
                  name: Prime_Numbers.txt
                  id: id:a4ayc_80_OEAAAAAAAAAXw
                  client_modified: '2015-05-12T15:50:38Z'
                  server_modified: '2015-05-12T15:50:38Z'
                  rev: a1c10ce0dd78
                  size: 7212
                  path_lower: /homework/math/prime_numbers.txt
                  path_display: /Homework/math/Prime_Numbers.txt
                  sharing_info:
                    read_only: true
                    parent_shared_folder_id: '84528192421'
                    modified_by: dbid:AAH4f99T0taONIb-OurWxbNQ6ywGRopQngc
                  is_downloadable: true
                  property_groups:
                    - template_id: ptid:1a5n2i6d3OYEAAAAAAAAAYa
                      fields:
                        - name: Security Policy
                          value: Confidential
                  has_explicit_shared_members: false
                  content_hash: >-
                    e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                  file_lock_info:
                    is_lockholder: true
                    lockholder_name: Imaginary User
                    created: '2015-05-12T15:50:38Z'
  /2/files/get_thumbnail_batch:
    post:
      tags:
        - files
      summary: get_thumbnail_batch
      operationId: get_thumbnail_batch
      description: >-
        [get_thumbnail_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-get_thumbnail_batch)


        scope: `files.content.read`


        Get thumbnails for a list of images. We allow up to 25 thumbnails in a
        single batch.

        This method currently supports files with the following file extensions:
        jpg, jpeg, png, tiff, tif, gif and bmp. Photos that are larger than 20MB
        in size won't be converted to a thumbnail.
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: >-
[...]
